.masthead {
	padding: 13em 0;
	background-image: url('https://www.mckinsey.com/~/media/McKinsey/Business%20Functions/Strategy%20and%20Corporate%20Finance/Our%20Insights/How%20climate%20change%20could%20affect%20corporate%20valuations/054%20How%20climate%20change%20could%20affect%20corporate%20valuations%20main%20image_Original.ashx');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
.content-width {
   max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}
.smallest{
    font-size: 12px;
}
.small{
    font-size: 24px;
}
div.c{
    text-align: right;
}
.bottomright {
    position: absolute;
    bottom: 235px;
    right: 30px;
    font-size: 36px;
    line-height: 1em;
    color: #212F3D;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: .5px .5px;
}
.text-center {
    text-align: center;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 18px;
    line-height: 3px;
}
body{
    color: #212F3D;
    font-family:"Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: rgb(236, 228, 216);

    line-height: 1.5em;
    margin: 8px;
    display: block;
}
.container{
    width: 95%;
}
.box-1{
    background-color: rgb(202, 189, 172);
}